#border{
    border:  2px solid black;
    height: 500px;
    padding-bottom: 70px;
}
#div1{
    border: 2px solid black;
    width: 100PX;
    height:100px;
    background-color: rgb(15, 157, 110);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom:20px
}
#div2{
    border: 2px solid black;
    width: 60%;
    height: 20px;
    background-color: rgb(15, 157, 110);
    margin-top: -100px;
    margin-left: 150px;
}
#div3{
    border: 2px solid black;
    width: 40%;
    height: 20px;
    margin-left: 150px;
    margin-top: 10px;
}
#div4{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: rgb(15, 157, 110);
}
#div5{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 210px;
    margin-top: -23px;
    background-color: rgb(15, 157, 110)
}
#div6{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 270px;
    margin-top: -23px;
    background-color: rgb(15, 157, 110)
}
#div7{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 390px;
    margin-top: -23px;
    background-color: rgb(15, 157, 110)
}
#div8{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 330px;
    margin-top: -25px;
    background-color: rgb(15, 157, 110)
}
#div9{
    border: 2px solid black;
    width: 7%;
    height: 20px;
    margin-left: 450px;
    margin-top: -23px;
    background-color: rgb(15, 157, 110)
}
#div10{
    border: 2px solid black;
    height: 30%;
    width: 15%;
    margin-left: 10px;
    
}
#div11{
    border: 2px solid black;
    height: 70%;
    width: 70%;
    margin-left: 120px;
    margin-top: -210px;
}
#div13{
    border: 2px solid black;
    height: 40px;
    background-color: rgb(15, 157, 110);
    width: 70%;
    margin-left: 120px;
    margin-top: 10px;

}



