.marks{
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    margin-left: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.div1{
    border: 3px dotted black;
   height: 170px;
   width: 320;
   margin: 50px;
   border-radius: 10px;
}
.div2{
    border: 3px dotted black;
   height: fit-content;
   width: fit-content;  
   margin: 20px;
}
.div3{
    border: 3px solid black;
   height: fit-content;
   width: fit-content;  
}