#div1{
    background-color: rgb(84, 99, 6);
    height: 70px;
    width: 20%;
    color: beige;
}
#div2{
    background-color: rgb(3, 67, 92);
    border: 5px solid black;
    width: 70%;
    float: right;
}
#div3{
    border: 6px solid black;
    height: 78px;
    width: 90%;
    background-color: rgb(40, 128, 99);
}